* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    background: #eee;
}
.sidebar-menu{
    position: fixed;
    top: 20px;
    left: -250px;
    width: 250px;
    height: 100%;
    transform: left 300ms ease-in-out;
}
.sidebar-menu.active{
    left: 0px;
}
.sidebar-menu .sidebar{
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: lightcyan; /* background sidebar */
    padding: 10px;
    z-index: 5;
}
.sidebar-menu .toggle-btn{
    position: absolute;
    top: 60px;
    left: 238px;
    width: 30px;
    height: 30px;
    text-align: right;
    padding-left: 8px;
    background: #556df5;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    color: #111;
}
.sidebar-menu.active .toggle-btn i.fa{
    transform: rotate(180deg);
}
.sidebar-menu .sidebar .links .link{
    margin: 10px 0px;
}
.sidebar-menu .sidebar .links .link > a{
    text-decoration: none;
    display: block;
    padding: 10px 5px;
    color: darkblue; /* text color */
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.sidebar-menu .sidebar .links .link > a i.fa{
    font-size: 16px;
    width: 20px;
    text-align: center;
}
.sidebar-menu .sidebar .links .link > a .sub-menu{
    margin-left: 5px;
    padding-left: 10px;
    border-left: 1px solid #bbb;
    max-width: 0px;
    overflow: hidden;
    transform: max-height 300ms ease-in-out;
}
.sidebar-menu .sidebar .links .link.active .sub-menu{
    max-height: 500px;
}
.sidebar-menu .sidebar .links .link .sub-menu a{
    text-decoration: none;
    display: block;
    padding: 5px;
    margin: 5px 0px;
    color: #222;
    cursor: pointer;
}
.sidebar-menu .sidebar .links .link.active > a,
.sidebar-menu .sidebar .links .link > a:hover{
    background: #e7eaff;
    color: #556df5;
}