{% load static %}

<nav class="sticky-top">
    <div class="menu-icon">
        <span class="fas fa-bars"></span>
    </div>
    <div class="logo">
        <a class="class="btn btn-primary me-5" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" width="45"></a>
        CambodiaEdu.org
    </div>
    <div class="nav-items">
        <li><a href="{% url 'khmer' %}">អក្សរសាស្ត្រខ្មែរ</a></li>
        <li><a href="{% url 'python' %}">Python</a></li>
        <li><a href="{% url 'java' %}">Java</a></li>
        <li><a href="{% url 'c' %}">C</a></li>
        <li><a href="{% url 'cpp' %}">Cpp</a></li>
        <li><a href="{% url 'csharp' %}">C#</a></li>
        <li><button class="btn btn-primary me-md-2" type="button"><a href="{% url 'login' %}">Login</a></button></li>
    </div>
    <div class="search-icon">
        <span class="fas fa-search"></span>
    </div>
    <div class="cancel-icon">
        <span class="fas fa-times"></span>
    </div>
    <form action="#">
        <input type="search" class="search-data" placeholder="Search" required>
        <button type="submit" class="fas fa-search"></button>
    </form>
</nav>