{% extends '../index.html' %}

{% block content %}

<!-- sidebar -->
<div class="sidebar-menu">
    <div class="toggle-btn">
        <i class="fa fa-angle-right" style="color: white;"></i>
    </div>
    <div class="sidebar">
        <div class="links">
            <div class="link">
                <a href="{% url 'pythonMenu' %}">Python មេរៀនទី១</a>
            </div>
            <div class="link">
                <a href="{% url 'pythonMenu' %}">Python មេរៀនទី២</a>
            </div>
            <div class="link">
                <a href="{% url 'pythonMenu' %}">Python មេរៀនទី៣</a>
            </div>
            <div class="link">
                <a href="{% url 'pythonMenu' %}">Python មេរៀនទី៤</a>
            </div>
            <div class="link">
                <a href="{% url 'pythonMenu' %}">Python មេរៀនទី៥</a>
            </div>
            <div class="link">
                <a href="{% url 'pythonMenu' %}">Python មេរៀនទី៦</a>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="content-header">
        <h1><b>រៀន Python</b></h1>
    </div>
    <div class="content-main">
        <h1>Python មេរៀនទី១</h1>
    </div>
</section>

{% endblock %}