{% extends 'index.html' %}

{% block content %}
    
    {% load static %}
    <div class="bg-image p-3 shadow-1-strong rounded mb-0 text-white"
        style="background-image: url('https://mdbootstrap.com/img/new/slides/003.jpg');">
        <h1 class="mb-3 h1 text-center"><b>ស្វាគមន៍មកកាន់ CambodiaEdu.org</b></h1>
        <div class="main-text" style="margin-left: 20%;">
            <li><b>អ្នកទាំងអស់គ្នានឹងរៀន អក្សរសាស្ត្រខ្មែរ</b></li><br>
            <li><b>អ្នកទាំងអស់គ្នានឹងរៀន C Programming</b></li><br>
            <li><b>អ្នកទាំងអស់គ្នានឹងរៀន C++ Programming</b></li><br>
            <li><b>អ្នកទាំងអស់គ្នានឹងរៀន C# Programming</b></li><br>
            <li><b>អ្នកទាំងអស់គ្នានឹងរៀន Java Programming</b></li><br>
            <li><b>អ្នកទាំងអស់គ្នានឹងរៀន Python Programming</b></li><br>
            <li><b>អ្នកទាំងអស់គ្នានឹងរៀន HTML Programming</b></li><br>
            <li><b>អ្នកទាំងអស់គ្នានឹងរៀន CSS Programming</b></li><br>
            <li><b>អ្នកទាំងអស់គ្នានឹងរៀន PHP Programming</b></li><br>
            <li><b>អ្នកទាំងអស់គ្នានឹងរៀន SQL Programming</b></li><br>
            <li><b>អ្នកទាំងអស់គ្នានឹងរៀន JavaScript</b></li><br>
        </div>
    </div>

{% endblock %}